<!-- src\app\layout\dashboard-layout\dashboard-layout.component.html -->
<!-- src\app\layout\dashboard-layout\dashboard-layout.component.html -->
<div class="dashboard-layout">
  <app-header></app-header>

  <!-- Breadcrumbs debajo del header -->
  <div class="px-6 mt-4">
    <app-breadcrumbs></app-breadcrumbs>
  </div>

  <app-sidebar [isCollapsed]="sidebarCollapsed"></app-sidebar>
  
  <main class="main-content pt-[var(--header-height)]"
        [style.margin-left]="sidebarCollapsed ? '70px' : '250px'">
    <div class="content-wrapper mx-auto px-6">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
